@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url("reset.css");


/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Noto Sans KR','Poppins', sans-serif;
}

body {
    font-family: 'Noto Sans KR','Poppins', sans-serif;;
    font-size: 16px;
    line-height: 1.6;
}

h1, h2, h3 {
    font-weight: 700;
    margin: 16px 0;
}

p {
    margin: 1.6rem 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* img {
    max-width: 100%;
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Header Styles */

header {
    background-color: #ffb3d9;
    color: #fff;
    padding: 60px 0;
}

nav {
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
}

nav ul {
    display: flex;
}

nav li {
    margin: 0 40px;
}

nav a {
    font-size: 18px;
    color: #fff;
}

.hero {
    text-align: center;
    margin-top: 60px;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 40px
}


/* About Section Styles */
#about {
    background-color: #ffeef7;
    padding: 60px 0;
}
#about h2{
    font-size: 30px;
}
.profile{
    display: flex;
    margin: 30px 0;
}
.profile>img{
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
}
.prof{
    max-width: 75%;
    min-height: 75%;
    padding: 0 100px;
    margin-top: auto;
    margin-bottom: auto;
}
.prof>ul>li{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #636363;
}
.prof>ul>li>span{
    margin-left: 10px;
}


/* Skill Section Styles */

#skill {
    padding: 60px 0;
}
#skill h2{
    font-size: 30px;
}
.skills {
    margin: 30px 0;
}

    
/* portfolio Section Styles */
    
#portfolio {
    padding: 60px 0;
}
#portfolio h2{
    font-size: 30px;
} 
.portfolio {
    background-color: #fff;
    padding: 3.2rem;
    margin-bottom: 3.2rem;
}
    
     
.portfolio p {
    margin-bottom: 1.6rem;
}
    
.gallery{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.pop,
.pop2,
.pop3{
    overflow: hidden;
    width: 31%;
    height: 250px;
    border: 2px solid #ffbbeb79;
    border-radius: 10px;
    align-items: center;
    opacity: 0.7;

}
.pop>img,
.pop2>img,
.pop3>img{
    position: relative;
    display: inline;
    margin: 10px;
}
.pop:hover,
.pop2:hover,
.pop3:hover{
    opacity: 1;
    transition: all 0.3s;
    border: 2px solid #ffbbeb;
}

.pop>img{
    top: 30%;
    left: 25%;
}
.pop2>img{
    top: 35%;
    left: 15%
}
.pop3>img{
    width: 220px;
    height: 220px;
    left: 17%;
}
/* content Section Styles */
    
#content {
    background-color: #fff5ff;
    padding: 60px 0;
}

#content h2{
    font-size: 30px;
} 
.content{
    text-align: center;
}
.content-container {
    display: flex;
    justify-content: space-between;
}
.content p{
    font-size: 20px;
    color: #b18c9f;
    margin: 15px 0;
    padding-bottom: 50px;
}
.snsbox{
    padding: 0 30px;
    max-width: 800px;
    margin-left:auto ;
    margin-right: auto;
}
.sns{
    font-size: 18px;
    padding: 8px 20px;
    cursor: pointer;
    
}
.sns i{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 8px;
    /* border: 1px solid #333; */
    vertical-align: middle;
}
.facebook>i{
    background: url(../images/01.png)no-repeat -76px -8px;
}
.facebook{
    background: #3b5796;
    color: #fff;
}
.twitter>i{
    background: url(../images/01.png)no-repeat -136px -8px;
}
.twitter{
    background: #55aded;
    color: #fff;
}

.instagram>i{
    background: url(../images/01.png)no-repeat -17px -9px;
}
.instagram{
    background: #e05366;
    color: #fff;
}
.line>i{
    background: url(../images/01.png)no-repeat -198px -135px ;
}
.line{
    background: #45c920;
    color: #fff;
}
.youtube>i{
    background: url(../images/01.png)no-repeat -137px -52px;
}
.youtube{
    background: #eb3618;
    color: #fff;
}


    
   
/* Footer Styles */
    
footer {
    background-color: #333;
    color: #fff;
    padding: 3.2rem 0;
    text-align: center;
}
    
footer p {
    margin-bottom: 1.6rem;
}
    
footer ul {
    display: flex;
    justify-content: center;
}
    
footer li {
    margin-left: 3.2rem;
}
    
footer a {
    color: #fff;
    font-size: 1.8rem;
}
    
@media screen and (max-width: 768px) {
    .container {
    max-width: 100%;
    padding: 0 1.6rem;
}
nav ul {
    display: none;
}
    
.logo {
    text-align: center;
}
}


.popup,
.popup2,
.popup3{
    max-width: 1200px;
    min-width: 500px;
    height: 950px;
    position: fixed;
    top: 10px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 40px; */
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    display: none;
    overflow: scroll;
}

.popup>img{
    width: 1300px;
    position: relative;
}
.close{
    position: relative;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;;
    background: transparent;
    border: transparent;
    z-index: 50;
}

.popup3>img{
    left: -8px;
    position: absolute;
}